
body {
    background-color: rgb(187, 199, 17);
    overflow: hidden;
}

.playground {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 800px;
    border: none;
}

.image {
    margin: 5px;
}

.image.A p {
    color: rgb(253, 251, 144);
    font-size: 50px;
    font-family: fantasy;
    font-weight: 800;
    text-align: center;
}

.image.B p {
    color: rgb(169, 253, 144);
    font-size: 50px;
    font-family: fantasy;
    font-weight: 800;
    text-align: center;
}
.image.C p {
    color: rgb(253, 144, 144);
    font-size: 50px;
    font-family: fantasy;
    font-weight: 800;
    text-align: center;
}


.image.A {
    background-image: url(../image/villagechoose.jpg);
    background-size: cover;
    height: 800px;
    width: 450px;
}

.image.B {
    background-image: url(../image/forestchoose.webp);
    background-size: cover;
    height: 800px;
    width: 450px;
}


.image.C {
    background-image: url(../image/warpchoose.webp);
    background-size: cover;
    height: 800px;
    width: 450px;
}