h1 {
  text-align: center;
  font-size: 90px;
  margin: 20px;
  font-family: Impact, Charcoal, sans-serif;
  letter-spacing: 1px;
  word-spacing: -1px;
  /* color: #C15F0A; */
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  text-transform: capitalize;
  color: rgba(26, 24, 24, 0.856);
  text-shadow: 0 0 15px rgba(250, 121, 1, 0.795), 0 0 10px rgba(173, 97, 9, 0.842);
}

body {
  background-image: url(../image/forestwallpaper.jpg)
}
body {
  background-color: #212121;
  overflow: hidden;

}


#start {
  color: rgba(26, 24, 24, 0.856);
  display: none;
  font-size: 30px;
  width: 250px;
  height: 77px;
  border-radius: 25px;
  margin-left: 550px;
  margin-top: 50px;
  background-color: rgb(25, 110, 25);
  text-shadow: 0 0 15px rgba(250, 121, 1, 0.795), 0 0 10px rgba(173, 97, 9, 0.842);
}


.dialogue-box {
  position: absolute;
  width: 260px;
  height: 300px;
  background-color: rgb(177, 124, 63);
  border-radius: 5px;
  margin-left: 950px;
}

.text-adjust p {
  font-size: 25px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  height: 250px;
  width: 240px;
  text-align: center;
  background-color: rgb(216, 166, 108);
}

.dialogue-box .text-adjust button {
  margin-left: 174px;
  font-size: 20px;
  background-color: rgb(26, 92, 20);
  color: aliceblue;
}


.pulse {
  height: 100px;
  width: 200px;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.pulse:after {
  content: '';
  display: block;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200px 100px"><polyline fill="none" stroke-width="3px" stroke="white" points="2.4,58.7 70.8,58.7 76.1,46.2 81.1,58.7 89.9,58.7 93.8,66.5 102.8,22.7 110.6,78.7 115.3,58.7 126.4,58.7 134.4,54.7 142.4,58.7 197.8,58.7 "/></svg>') 0 0 no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-animation: 2s pulse infinite linear;
  animation: 2s pulse infinite linear;
}

.pulse:before {
  content: '';
  background: #444;
  position: absolute;
  z-index: -1;
  left: 2px;
  right: 2px;
  bottom: 0;
  top: 16px;
  margin: auto;
  height: 3px;
}

@-webkit-keyframes pulse {
  0% {
    clip: rect(0, 0, 100px, 0);
  }

  10% {
    clip: rect(0, 66.6666666667px, 100px, 0);
  }

  38% {
    clip: rect(0, 133.3333333333px, 100px, 0);
  }

  48% {
    clip: rect(0, 200px, 100px, 0);
  }

  52% {
    clip: rect(0, 200px, 100px, 0);
  }

  62% {
    clip: rect(0, 200px, 100px, 66.6666666667px);
  }

  90% {
    clip: rect(0, 200px, 100px, 133.3333333333px);
  }

  100% {
    clip: rect(0, 200px, 100px, 200px);
  }
}

@keyframes pulse {
  0% {
    clip: rect(0, 0, 100px, 0);
  }

  10% {
    clip: rect(0, 66.6666666667px, 100px, 0);
  }

  38% {
    clip: rect(0, 133.3333333333px, 100px, 0);
  }

  48% {
    clip: rect(0, 200px, 100px, 0);
  }

  52% {
    clip: rect(0, 200px, 100px, 0);
  }

  62% {
    clip: rect(0, 200px, 100px, 66.6666666667px);
  }

  90% {
    clip: rect(0, 200px, 100px, 133.3333333333px);
  }

  100% {
    clip: rect(0, 200px, 100px, 200px);
  }
}