.meter {
    height: 20px;
    /* Can be anything */
    position: relative;
    width: 280px;
    background: rgb(43, 41, 41);
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.meter>span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(187, 21, 21);
    background-image: linear-gradient(center bottom,
        rgb(180, 34, 34) 37%,
        rgb(240, 84, 84) 69%);
    box-shadow:
        inset 0 2px 9px rgba(255, 255, 255, 0.3),
        inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}

.opponentBar {
    position: absolute;
    top: 115px;
    right: 110px;
}

.heroBar {
    top: 135px;
    left: 20px;
}

#imageHero {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: -55px;
    margin-left: 50px;
}

#imageWolftamed {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-top: 42px;
    width: 325px;
    height: 225px;
    transform: scaleX(-1);
    margin-left: 140px;
}

#bigMonster {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    margin-left: 248px;
    margin-top: -180px;
    height: 456px;
    /* transform: scaleX(-1); */
}

.dialogue-box {
    width: 260px;
    height: 300px;
    background-color: rgb(177, 124, 63);
    border-radius: 5px;
}

.text-adjust p {
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    height: 250px;
    width: 240px;
    text-align: center;
    background-color: rgb(216, 166, 108);
}

.dialogue-box .text-adjust button {
    margin-left: 174px;
    font-size: 20px;
    background-color: rgb(26, 92, 20);
    color: aliceblue;
}

#background {
    display: grid;
    grid-template-columns: 350px 250px 1fr 1fr;
    grid-template-rows: 250px 250px;
    background-image: url(../image/sensei-wallpaper.jpg);
    background-size: cover;
    height: 500px;
    border: 1px solid black;
}

body {
    border: 3px solid black;
    background-color: rgb(19, 18, 18);
    overflow: hidden;
}

#event img {
    width: 150px;
    margin-left: 100px;
    margin-top: 20px;
    display: none;
}

.titre {
    font-size: 50px;
    margin: 20px;
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 1px;
    word-spacing: -1px;
    /* color: #C15F0A; */
    font-weight: normal;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: capitalize;
    color: rgba(131, 123, 116, 0.856);
    text-shadow: 0 0 15px rgba(250, 121, 1, 0.795), 0 0 10px rgba(173, 97, 9, 0.842);
}

.buttonBack {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 88px;
    grid-template-rows: 1fr 50px;
}

#back {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: rgb(44, 44, 43);
    color: brown;
    width: 88px;
    height: 50px;
    font-size: 25px;
}



/* CONSOLE DE COMBAT */
.console,
.consoleAttack,
.consoleSpecial,
.consoleDefense,
.consoleObject {
    display: grid;
    background-color: rgb(44, 44, 43);
    padding: 10px;
    height: 150px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.section {
    background-color: brown;
    margin: 10px;
}

.console-tag {
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(15, 15, 15);
    margin-bottom: 10px;
}

.consoleAttack,
.consoleSpecial,
.consoleDefense,
.consoleObject {
    display: none;
}