body {
    padding: 0;
    margin: 0;
    background-color: #130d0a;
    font-family: 'Playfair Display', serif;
    color: #fff;
  }
  
  #hero {
    height: 800px;
    overflow: hidden;
    position: relative;
  }
  
  #content {
    background-color: #130d0a;
  }
  
  .layer {
    background-position: bottom center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    position: fixed;
    z-index: -1;
  }
  
  #hero-mobile {
    display: none;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/full_illustration.png") no-repeat center bottom/cover;
    height: 320px;
  }
  
  .first-section {
    padding: 50px 0 20px 0;
  }
  
  .text-header {
    font-size: 50px;
    text-align: center;
  }
  
  h1 {
    line-height: 120%;
    margin-bottom: 30px;
  }
  
  p {
    color: #ede0d5;
    font-size: 18px;
    line-height: 150%;
  }
  
  #hero, .layer {
    min-height: 800px;
  }
  
  .layer-bg {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_bg.jpg");
  }
  
  .layer-1 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_03.png\a 		");
    background-position: left bottom;
  }
  
  .layer-2 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_02.png");
  }
  
  .layer-3 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_man.png\a 		");
    background-position: right bottom;
  }
  
  .layer-4 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_01.png\a 		");
  }
  
  .layer-overlay {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_overlay.png\a 		");
  }
  
  @media only screen and (max-width: 768px) {
    #hero {
      display: none;
    }
  
    #hero-mobile {
      display: block;
    }
  }
  .tutorial-link {
    color: #fff;
    font-size: 18px;
    text-decoration: underline;
  }
  .tutorial-link:hover {
    color: #ede0d5;
  }
  