.image {
    display: grid;
}

body {
    background-color: rgb(100, 28, 28);
    background-image: url(../image/boss.jpg);
    background-size: cover;
    overflow: hidden;
}

p {
    font-size: 100px;
}